{% extends "base.html" %}

{% block navhead %}
<style>
body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
#editNavi li {
    padding-left:10px;
    padding-right:10px;
}
</style>
<script>
$(function() {
    $('#logout_confirm').click(function() {
	    if (!confirm('ログアウトします\nよろしいですか？')) {
	    	return false;
	    }
    });
});
</script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="width:95vw">
        <div id="navbar" class="collapse navbar-collapse">
            <a class="navbar-brand" href="{% url 'cms:pc_list' %}">
                社内PC管理
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li id="login">
                    <a id="logout_confirm" href="{% url 'cms:logout' %}">ログアウト</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
