{% extends "base.html" %}
{% load bootstrap %}

{% block title %}ログアウト{% endblock title %}
{% block extrahead %}
<meta http-equiv="refresh" content="3;URL={% url 'cms:login' %}" />
{% endblock %}
{% block content %}

<h3 class="page-header">ログアウトしました</h3>
<p>3秒後にログインページへリダイレクトされます。</p>

{% endblock content %}