{% extends "base_nav.html" %}
{% load bootstrap %}

{% block title %}PCの詳細{% endblock title %}
{% block extrahead %}
<style>
.form-control {
  width: initial !important;
}
</style>
{% endblock %}
{% block content %}
    <h3 class="page-header">PCの詳細</h3>
    <form action="" method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
    </form>
    <a href="{% url 'cms:pc_list' %}" class="btn btn-default btn-sm">戻る</a>
{% endblock content %}