{% extends "base_nav.html" %}
{% load bootstrap %}

{% block title %}PCの編集{% endblock title %}
{% block extrahead %}
<style>
.form-control {
  width: initial !important;
}
</style>
<script>
$(function(){
    if (!$("#id_display_size").val()) $("#id_display_number").prop("disabled", true);
    else $("#id_display_number").prop("disabled", false);

    if ($("[name=asset_class]").val() == 0) $("#id_lease_expiration_date").prop("disabled", true);
    else $("#id_lease_expiration_date").prop("disabled", false);

    $("#id_display_size").blur(function(){
        if($(this).val()) $("#id_display_number").prop("disabled", false);
        else{
            $("#id_display_number").prop("disabled", true);
            $("#id_display_number").val('');
        }
    });
    $("[name=asset_class]").change(function(){
        if($(this).val() == 1) $("#id_lease_expiration_date").prop("disabled", false);
        else{
            $("#id_lease_expiration_date").prop("disabled", true);
            $("#id_lease_expiration_date").val('');
        }
    });

    $("form").submit(function(){
        var re = true;
        if(!$("#id_display_number").prop("disabled") || $("#id_display_size").val()){
            if(!$("#id_display_number").val()){
                $("#id_display_number").parent().parent().addClass("has-error");
                $("#jqueryadd_1").remove();
                $("#id_display_number").after('<span class="help-block" id="jqueryadd_1" >このフィールドは必須です。</span>');
                re = false;
            }
        }
        if(!$("#id_lease_expiration_date").prop("disabled")){
            if(!$("#id_lease_expiration_date").val()){
                $("#id_lease_expiration_date").parent().parent().addClass("has-error");
                $("#jqueryadd_2").remove();
                $("#id_lease_expiration_date").after('<span class="help-block" id="jqueryadd_2" >このフィールドは必須です。</span>');
                re = false;
            }
        }
        return re;
    })

});
</script>
{% endblock %}

{% block content %}
    <h3 class="page-header">PCの編集</h3>
    {% if pc_id and isCopy %}
    <form action="{% url 'cms:pc_mod' pc_id=pc_id %}?copy=1" method="post" class="form-horizontal" role="form">
    {% elif pc_id %}
    <form action="{% url 'cms:pc_mod' pc_id=pc_id %}" method="post" class="form-horizontal" role="form">
    {% else %}
    <form action="{% url 'cms:pc_add' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">送信</button>
        </div>
      </div>
    </form>
    <a href="{% url 'cms:pc_list' %}" class="btn btn-default btn-sm">戻る</a>
{% endblock content %}