{% extends "base_nav.html" %}
{% load bootstrap %}
{% load filters %}
{% load staticfiles %}

{% block title %}PCの一覧{% endblock title %}

{% block extrahead %}
<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<style>
table {
  margin-top: 8px;
  margin-bottom: 0px !important;
}
table th, table td {
    white-space: nowrap;
}
</style>
{% if user.is_staff %}
<script>
$(function(){
  // テーブル並び替え
  $('#sortable tbody').sortable({
    update: function(){
      data = $('#sortable tbody').sortable("serialize");
      $.ajax({
        type: "GET",
        url: "{% url 'cms:save_sort' %}",
        data: data,
        dataType: 'json'
      }).done(function(data) {
        for(id in data){
          $('#ids-'+id+' .sort_no').text(data[id]);
        }
      }).fail(function() {
        alert('ソートの保存に失敗しました。');
      });
    }
  });
  // テーブルソート
  $("#sortable").tablesorter();
  $(".del").on('click', function(){
    if(window.confirm("削除しますがよろしいですか？")) {
      return true;
    } else {
      return false;
    }
  });

  $('#upload_confiam').on('click', function () {
     $('#upload_url').attr('href', $(this).attr("url"));
  });

  $('#upload_exec').on('click', function () {
    if (!$('#id_file').prop('files')[0]) {
      alert('ファイルが選択されていません。');
      return false;
    }

    var fileName = $('#id_file').prop('files')[0].name;
    var type = fileName.split('.');
    if (type[type.length - 1].toLowerCase() == 'xls') {
      return true;
    }else{
      alert('xls拡張子のファイルではありません。');
      return false;
    }
  });
});
</script>
{% endif %}
{% endblock %}

{% block content %}
    <h3 class="page-header">PCの一覧</h3>
    {% if user.is_staff %}
    <a href="{% url 'cms:pc_add' %}" class="btn btn-default btn-sm">追加</a>
    <a href="{% url 'cms:download' %}" class="btn btn-default btn-sm">ダウンロード</a>
    <button class="btn btn-default btn-sm" id="upload_confiam" data-toggle="modal" data-target="#uploadModal" url="{% url 'cms:upload' %}">アップロード</button>
    {% endif %}
    <div style="overflow: scroll;">
    <table class="table table-striped table-bordered" id="sortable">
      <thead>
        <tr>
          <th>ソートNo</th>
          <th>使用者</th>
          <th>種類</th>
          <th>資産種類</th>
          <th>PC機器番号</th>
          <th>IPアドレス</th>
          <th>メーカー</th>
          <th>ディスプレイ - サイズ</th>
          <th>ディスプレイ - 機器番号</th>
          <th>キーボード - 機器番号</th>
          <th>マウス - 機器番号</th>
          <th>OS</th>
          <th>CPU</th>
          <th>HDD容量</th>
          <th>メモリ容量</th>
          <th>メディアドライブ</th>
          <th>リース期限日</th>
          <th>備考</th>
          <th style="width:8%">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for pc in pc_list %}
        {% if pc.asset_class ==  1 %}
        <tr class="info">
        {% else %}
        <tr id="ids-{{ pc.id }}">
        {% endif %}
          <td class="sort_no">{{ pc.sort_no }}</td>
          <td>{{ pc.user }}</td>
          <td>{{ pc.get_machine_type_display }}</td>
          <td>{{ pc.get_asset_class_display }}</td>
          <td>{{ pc.pc_number }}</td>
          <td>{{ pc.ip_address|default_if_none:"" }}</td>
          <td>{{ pc.maker }}</td>
          <td>{{ pc.display_size }}</td>
          <td>{{ pc.display_number|default_if_none:"" }}</td>
          <td>{{ pc.keyboard_number|default_if_none:"" }}</td>
          <td>{{ pc.mouth_number|default_if_none:"" }}</td>
          <td>{{ pc.os }}</td>
          <td>{{ pc.cpu }}</td>
          <td>{{ pc.hdd_storage }}</td>
          <td>{{ pc.memory_storage }}</td>
          <td>{{ pc.media_drive }}</td>
          <td>{{ pc.lease_expiration_date|default_if_none:"" }}</td>
          {% if pc.remarks|length > 20 %}
          <td>{{ pc.remarks|truncate:10|cutmark }}</td>
          {% else %}
          <td>{{ pc.remarks }}</td>
          {% endif %}
          <td>
            <div class="btn-toolbar" style="width:230px;">
              <div class="btn-group">
                <a href="{% url 'cms:pc_detail' pc_id=pc.id %}" class="btn btn-default btn-info">詳細</a>
                {% if user.is_staff %}
                <a href="{% url 'cms:pc_mod' pc_id=pc.id %}" class="btn btn-default btn-warning">修正</a>
                <a href="{% url 'cms:pc_mod' pc_id=pc.id %}?copy=1" class="btn btn-default btn-success">複製</a>
                <a href="{% url 'cms:pc_del' pc_id=pc.id %}" class="btn btn-default btn-danger del">削除</a>
                {% endif %}
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
{% if user.is_staff %}
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >エクセルファイルのアップロード</h4>
      </div>
      <form action="{% url 'cms:upload' %}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
        <div class="modal-body">
            {% csrf_token %}
            {{ upload_form|bootstrap_horizontal }}
             <p>※ファイルはExcelのxls拡張子のみ対応。尚一行目は無視されます。</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="upload_exec">アップロード</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}